.StoreContainer{
    width: 85%;
    margin: 15px auto;
    height: 100%;
    min-height: 100vh;
}
.Input{
    margin: 10px;
    width: 100%;
    display: block;
    border: 1px;
    background-color: #242323;
    color: white;
    height: 37px;
    outline: none;
}
.Input:focus{
    outline: none;
}
.Button{
    margin: 10px;
    width: 100%;
    display: block;
    border: 1px;
    background-color: #242323;
    color: white;
    height: 37px;
    outline: none;
}
.Button:active{
    color: #c21e1b;
    outline: none;
}
.Button:focus{
    outline: none;
}
.Select{
    margin: 10px;
    width: 100%;
    display: block;
    border: 1px;
    background-color: #242323;
    color: #bab6b6;
    height: 67px;
    outline: none;
}
.Select:focus{
    outline: none;
}
.Buttons{
    width:100%;
    display:flex;
    flex-direction: row;
}