.Logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 67px;
  color: #c21e1b;
}
.Logo img {
  width: inherit;
  height: inherit;
}
