.LoginOuterContainer{
    display: block;
    width: 100%;
    height: 100%;
}
.LoginContainer{
    width: 500px;
    margin: 15px auto;
    height: 100%;
    box-shadow: 0 2px 3px #0a0a0a;
    border: 1px solid #1a1919;
    box-sizing: border-box;
    padding: 20px;
}
.LoginContainer h3{
    text-align: center;
    font-weight: bold;
    color: white;
}
.LoginContainer label{
    color: #c21e1b;
}
.LoginContainer p{
    color: white
}
.LoginContainer a{
    color: #c21e1b;
    font-weight: bold;
    text-decoration: none;
}
.Input{
    display:block;
    width:100%;
    background-color: white;
    border: none;
    border-radius: 3px;
    height: 50px;
}
.Input:focus{
    outline: none;
}
.Invalid{
    display: block;
    width: 100%;
    border:1px solid red;
    border-radius: 3px;
    height: 50px;
}
.Invalid:focus{
    outline: none;
}
.LoginContainer button{
    margin: 25px auto;
    display: block;
    width: 150px;
    height: 50px;
    background-color: #c21e1b;
    color:white;
    border: #c21e1b;
    border-radius: 5px;
    font-weight: bold;
}
.LoginContainer button:focus{
    outline: none;
}
.LoginContainer button:disabled{
    background-color: grey;
}
.LoginForm{
    height: 500px;
    width: 40%;
    margin: 71px auto;
    background-color: #242323;
    box-shadow: 0 2px 2px black;
    border-radius: 9px;
    box-sizing: border-box;
    padding: 22px;
}
@media (max-width: 532px){
    .LoginContainer{
        width: 85%;
    }
}